<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LinkChecker - A Javascript Website Crawler based on Backbone.js</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jadams: Updated to BS 3.3.7, theme: paper (previous BS 2.x native)  -->
  <!-- All sources are localized to make the app usable w/o an internet connection -->
  <link rel="stylesheet" type="text/css" href="src/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="src/link-checker/css/link-checker.css">
  <link rel="stylesheet" type="text/css" href="src/fonts/font_awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="src/fonts/roboto/stylesheet.css">

  <script type="text/javascript" src="src/link-checker/js/jquery.min.js"></script>
  <script type="text/javascript" src="src/bootstrap/js/bootstrap.min.js"></script>

  <style>
    .container {
      padding-right:  15px;
      padding-left:   15px;
      margin-right:   0px;
      margin-left:    0px;
    }
  </style>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="span12">

        <div class="tab-content" id="table">
          <div id="status">

            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
                <a rel="success" class="btn btn-mini btn-filter btn-success active" data-toggle="tooltip" data-placement="top" title="Show or Hide selected Category">Ok</a>
                <a rel="error" class="btn btn-mini btn-filter btn-danger active" data-toggle="tooltip" data-placement="top" title="Show or Hide selected Category">Error</a>
                <a rel="redirect" class="btn btn-mini btn-filter btn-warning active" data-toggle="tooltip" data-placement="top" title="Show or Hide selected Category">Internal</a>
                <a rel="external" class="btn btn-mini btn-filter btn-info active" data-toggle="tooltip" data-placement="top" title="Show or Hide selected Category">External</a>
              </div>
              <div class="btn-group" role="group">
                <a rel="asc" class="btn btn-primary btn-sort-direction" data-toggle="tooltip" title="Sort ASC"><i class="fa fa-chevron-up"></i></a>
                <a rel="desc" class="btn btn-primary btn-sort-direction" data-toggle="tooltip" title="Sort DESC"><i class="fa fa-chevron-down"></i></a>
                <a rel="url" class="btn btn-primary btn-sort-on" data-toggle="tooltip" title="Sort by URL">URL</a>
                <a rel="title" class="btn btn-primary btn-sort-on" data-toggle="tooltip" title="Sort by Title">Title</a>
                <a rel="description" class="btn btn-primary btn-sort-on" data-toggle="tooltip"title="Sort by Description">Description</a>
                <!-- a rel="unfetched" class="btn btn-primary" data-toggle="tooltip" title="Refresh"><i class="fa fa-refresh"></i></a -->
                </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped table-condensed link-checker table-">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>In</th>
                    <th>Out</th>
                    <th>Url</th>
                    <th>Title</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> <!-- /container -->

  <script type="text/template" id="status-template">
    <% if (status === "success") { %>
        <span class="label label-success"><%= statusCode %></span>
    <% } else if (status === 'external') { %>
        <a class="label label-info" href="http://www.isup.me/<%= url.host() %>"><i class="fa fa-link" data-toggle="tooltip" title="External link"></i></a>
    <% } else if (status === 'unfetched') { %>
        <span class="label"><i class="icon-refresh icon-white" title="Waiting..."></i></span>
    <% } else if (status === 'redirect') { %>
        <span class="label label-warning"><i class="icon-share icon-white" title="Internal"></i> <%= statusCode %></span>
    <% } else { %>
        <span class="label label-danger"><%= statusCode %></span>
    <% } %>
  </script>

  <script type="text/template" id="links-dropdown-template">
    <div class="btn-group" id="<%= dropdownID %>">
      <a class="dropdown-toggle btn btn-mini" data-toggle="dropdown" data-hover="dropdown" href="#<%= dropdownID %>">
        <%= links.length %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% links.each(function(page) { page = page.toJSON(); %>
        <li><a href="#<%= page.UID %>"><%= page.url %></a></li>
        <% }) %>
      </ul>
    </div>
  </script>

  <script type="text/template" id="page-template">
    <td class="status"></td>
    <td class="linksIn" title="Links In"></td>
    <td class="linksOut" title="Links Out"></td>
    <td class="url"><a id="<%= UID %>" href="<%= url %>" target="_blank"><%= url %></a></td>
    <td class="metaTitle" title="Title"></td>
    <td class="metaDescription"></td>
  </script>

  <script type="text/javascript" src="src/link-checker/js/html5shiv.min.js"></script>
  <script type="text/javascript" src="src/link-checker/js/underscore.min.js"></script>
  <script type="text/javascript" src="src/link-checker/js/backbone.min.js"></script>
  <script type="text/javascript" src="src/link-checker/js/jsuri-1.1.1.min.js"></script>
  <script type="text/javascript" src="src/link-checker/js/link-checker.js"></script>
  <script type="text/javascript" src="src/link-checker/js/iframeResizer.contentWindow.min.js"></script>

</body>

</html>